[
  {rabbit,
    [{tcp_listeners, [{"127.0.0.1", 5672},
      {"::1", 5672}]},
      {log_levels, [{channel, info}, {connection, info}, {federation, info}, {mirroring, info}]},
      {loopback_users, []},
      {default_vhost, <<"/">>},
      {default_user, <<"nim">>},
      {default_pass, <<"nim">>},
      {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
      {connection_max, 1024},
      {tcp_listen_options, [{backlog, 128},
        {nodelay, true},
        {exit_on_close, false}]},
      {vm_memory_high_watermark, 0.4},
      {vm_memory_high_watermark_paging_ratio, 0.5},
      {total_memory_available_override_value, "2000MB"},
      {disk_free_limit, "2GB"},
      {hipe_compile, true}
    ]},

  {rabbitmq_management,
    [
      {http_log_dir, "/var/log/rabbitmq/http"}
    ]
  }
].