# ##############################
# RABBITMQ SERVER CONFIGURATION
# ##############################
#
# All of the parameters below can also
#   be set as environment variables
#   using the prefix "RABBIT_"
#   i.e.  export RABBITMQ_NODE_PORT=5672
#
# Mac Homebrew installed RabbitMQ directories
# Logs: /usr/local/var/log/rabbitmq
# Config: /usr/local/etc/rabbitmq
# Mnesia Database: /usr/local/var/lib/rabbitmq/mnesia
# Erlang cookies: <homedir>/.erlang.cookie
#
# ##############################

# ##########################
# Defaults to the empty string - meaning bind to all network interfaces
# Change to bind to one network interface only
# ##########################
# NODE_IP_ADDRESS=
# NODE_PORT=5672

# ##########################
# Unix, Linux: `env hostname`
# MacOSX: `env hostname -s`
# The name of the current machine
# ##########################
# HOSTNAME=

# ##########################
# The name of the current machine
# ##########################
# COMPUTERNAME=

# ##########################
# This base directory contains sub-directories for the RabbitMQ server's database and log files
# Alternatively, set MNESIA_BASE and LOG_BASE individually
# ##########################
# BASE=

# ##########################
# Unix: rabbit@$HOSTNAME
# The node name should be unique per erlang-node-and-machine combination
# To run multiple nodes, see the clustering guide
# ##########################
# NODENAME=

# ##########################
# Unix: /etc/rabbitmq/rabbitmq
# Mac: /usr/local/etc/rabbitmq/rabbitmq
# If the configuration file is present it is used by the server to configure RabbitMQ components
# The .config extension is automatically appended by the Erlang runtime
# This file is also used to auto-configure RabbitMQ clusters
# Example:
#   Config file location and new filename bunnies.config
#   CONFIG_FILE=/usr/local/etc/rabbitmq/bunnies
# ##########################
CONFIG_FILE=/usr/local/etc/rabbitmq/rabbitmq

# ##########################
# Unix*: /var/lib/rabbitmq/mnesia
# Mac: /usr/local/var/lib/rabbitmq/mnesia
# The directory where Mnesia database files should be placed.
#
# MNESIA_DIR will be assembled as MNESIA_BASE/NODENAME
# ##########################
# MNESIA_BASE=
# MNESIA_DIR=

# ##########################
# Unix*: /var/log/rabbitmq
# Mac: /usr/local/var/log/rabbitmq
# Log files generated by the server will be placed in this directory.
# ##########################
# LOG_BASE=/usr/local/var/log/rabbitmq

# ##########################
# The plugins will be found in this directory
# ##########################
PLUGINS_DIR=/usr/local/Cellar/rabbitmq/2.7.0/lib/rabbitmq/erlang/lib/rabbitmq-2.7.0/plugins

# ##########################
# Mac: /usr/local/etc/rabbitmq/enabled_plugins
# Unix*: /etc/rabbitmq/enabled_plugins
# This file records explicitly enabled plugins
# ##########################
ENABLED_PLUGINS_FILE=/usr/local/etc/rabbitmq/enabled_plugins

# ##########################
# Windows Only
# This path is the location of the Erlang service wrapper erlsrv.exe
# ##########################
# ERLANG_SERVICE_MANAGER_PATH=

# ##########################
# Windows Only
# Name of the installed service in services.msc
# ##########################
# SERVICENAME=

# ##########################
# Windows Only
# Set this variable to "new" or "reuse" to redirect console output
#   from the server to a file named %SERVICENAME%.debug in the default BASE directory
# If not set, console output from the server will be discarded (default)
# new - A new file will be created each time the service starts
# reuse - The file will be overwritten each time the service starts
# ##########################
# CONSOLE_LOG=new


# ##########################
# FROM THE rabbitmq-server script
# ##########################
# SERVER_ERL_ARGS="+K true +A30 +P 1048576 -kernel inet_default_connect_options [{nodelay,true}]"
# CONFIG_FILE=/usr/local/etc/rabbitmq/rabbitmq
# LOG_BASE=/usr/local/var/log/rabbitmq
# MNESIA_BASE=/usr/local/var/lib/rabbitmq/mnesia
# SERVER_START_ARGS=
# ENABLED_PLUGINS_FILE=/usr/local/etc/rabbitmq/enabled_plugins
# DEFAULT_NODE_IP_ADDRESS=auto
# DEFAULT_NODE_PORT=5672